<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="5">
<style>
body {
    height: 100%;
    margin: 0;
    background-image: url("http://www.freevectors.net/files/large/NightRain.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

    h1{
        font-size:40px;
        font-color:white;
        }
</style>
</head>
<body>
<center><b><i><h1>RAIN LEVEL SENSOR</h1></i></b></center>

<table>
<tr height="200">
<td width="200"></td>
<td>
 <h1>
The Rain level Sensor value is {{wat}} cm
</h1>
</td>
</tr>
 
</table>
</body>
</style>
</html>